<section class="gallery container">
  <h2 class="gallery_title">Gallery</h2>
  <ul class="gallery__list">
    <li class="galleru_item">
      <img
        src="./img/gallery/img-1_sm@1x.jpg"
        alt="house and trees"
        class="galleru-img"
      />
    </li>
    <li class="galleru_item">
      <img
        src="./img/gallery/img-2_sm@1x.jpg"
        alt="two houses"
        class="galleru-img"
      />
    </li>
    <li class="galleru_item">
      <img
        src="./img/gallery/img-3_sm@1x.jpg"
        alt="bench and trees"
        class="galleru-img"
      />
    </li>
  </ul>
</section>
