<section id="Gallery" class="gallery">
  <div class="container">
    <h2 class="gallery_title">Gallery</h2>
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-1_lg@1x_slider.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-2_lg@1x.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-3_lg@1x_slider.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-4_sm@1x.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-5_sm@1x.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./img/gallery/img-6_sm@1x.jpg"
              alt=""
              width="556"
              height="589"
            />
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
