<header>
    <div class="container">
        <nav id="home" class="nav">
            <a class="nav__link" href="">nice view</a>
            <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg class="menu-toggle__icon" width="24px" height="24px">
                    <use class="icon-cross" href="./images/icons.svg#mobilemenu-btn"></use>
                </svg>
            </button>
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#home"></a></li>
                <li class="nav__item"><a class="nav__link" href="#about"></a></li>
                <li class="nav__item"><a class="nav__link" href="#apartments"></a></li>
                <li class="nav__item"><a class="nav__link" href="#infrastructure"></a></li>
                <li class="nav__item"><a class="nav__link" href="#gallery"></a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts"></a></li>
            </ul>
        </nav>
        <button type="button" class="button-contactus btn-header">contact us</button>
    </div>
</header>
