<section class="apartments">
  <div class="apartment-box container">
    <h2 class="apartments__title">Infrastructure</h2>
    <div class="apartment-content">
      <ul class="apartments__list">
        <li class="apartments__item">
          <span class="apartments__item-time"> 2 minutes walk</span>
          <span class="apartments__item-place">to the supermarket</span>
        </li>
        <li class="apartments__item">
          <span class="apartments__item-place">to the coffee shop</span>
          <span class="apartments__item-time">4 minutes walk</span>
        </li>
        <li class="apartments__item">
          <span class="apartments__item-time">7 minutes walk</span>
          <span class="apartments__item-place">to the nearest park</span>
        </li>
      </ul>
    </div>
  </div>
</section>
