<section class="infrastructure">
  <div class="infrastructure-box container">
    <h2 class="infrastructure__title">Infrastructure</h2>
    <div class="infrastructure-content">
      <ul class="infrastructure__list">
        <li class="infrastructure__item">
          <span class="infrastructure__item-time"> 2 minutes walk</span>
          <span class="infrastructure__item-place">to the supermarket</span>
        </li>
        <li class="infrastructure__item">
          <span class="infrastructure__item-place">to the coffee shop</span>
          <span class="infrastructure__item-time">4 minutes walk</span>
        </li>
        <li class="infrastructure__item">
          <span class="infrastructure__item-time">7 minutes walk</span>
          <span class="infrastructure__item-place">to the nearest park</span>
        </li>
      </ul>
    </div>
  </div>
</section>
