<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
        <svg class="menu-toggle__icon" width="20" height="20">
            <use href="./img/svg-sprite/icons.svg#vector-cross"></use>
        </svg>
    </button>

    <ul class="mobile-menu ">
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#Home">Home</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link " href="#About">About</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link " href="#Apartments">Apartments</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link " href="#Infrastructure">Infrastructure</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link " href="#Gallery">Gallery</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link " href="#Contacts">Contacts</a>
        </li>
    </ul>
</div>