<!-- modal window -->
<!-- <div class="backdrop is-hiden">
  <div class="modal">
    <button class="modal__btn" type="button"></button>

    <form class="booking" name="booking_form">
      <span class="form__title"
        >Leave your contacts and we will contact you</span
      >
      <label class="form__label">
        <span class="form__name">Name</span>
        <input
          class="form__input"
          type="text"
          id="user_name"
          placeholder="Yuliia"
          style="font-size: 14px"
        />
      </label>

      <label class="form__label">
        <span class="form__name">Name</span>
        <input
          class="form__input"
          type="text"
          id="user_name"
          placeholder="Yuliia"
          style="font-size: 14px"
        />
      </label>

      <label class="form__label">
        <span class="form__name">Name</span>
        <input
          class="form__input"
          type="text"
          id="user_name"
          placeholder="Yuliia"
          style="font-size: 14px"
        />
      </label>

      <button type="submit" class="form__btn">Contact us</button>
    </form>
  </div>
</div> -->
