.gallery {
  padding-top: 60px;
}
.gallery_title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;

  color: var(--brown);

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.swiper-container {
  position: relative;
  padding-bottom: 40px;

  //Добавляет стили для стрелок переключения картинок
  --swiper-navigation-size: 23px;
  --swiper-theme-color: #000000;
}

.swiper {
  max-width: 1024px;
  width: 100%;

  @media screen and (min-width: 768px) {
    height: 395px;
  }

  @media screen and (min-width: 1280px) {
    height: 590px;
    padding-bottom: 40px;
  }
}

.swiper-slide img {
  min-height: 589px;
}

// Добавляет стили для пагинации
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #c4c4c4;
  border: 1px solid transparent;
}
.swiper-pagination-bullet-active {
  border: 1px solid var(--brown);
}
